* {
	margin: 0;
	padding: 0;
	
}

#contenedor{
	margin: 0 auto;	
	width:35%;
	margin-top:7.5%;
	margin-bottom:2%;
}

#imagecandidates{
	margin: 0 auto;	
	width:70%;
	margin-top:1em;
	/*margin-bottom:2%;*/
}

#msjerror{
	font-family: "Fjalla One";
	width: 80%;
	margin: 0 auto;
	text-align: center;
	margin-top: 2em;
	font-size: 3em;
	color: rgba(192, 57, 43,1.0);
}

#msjerror img{
	width: 30%;
}

#msjexito{
	font-family: "Fjalla One";
	width: 80%;
	margin: 0 auto;
	text-align: center;
	margin-top: 2em;
	font-size: 3em;
	color: rgba(39, 174, 96,1.0);

#msjexito img{
	width: 30%;
}


/*Etiquetas HTML*/
header{
	text-align: center;
	font-family: 'Open Sans';
	color: white;
	border-bottom: double;
	padding: 1em;
	background-color: #2980b9;
}

header h1{
	font-size:2.5em;
	font-variant: small-caps;
}





section{
	width: 80%;
	display: flex;
	margin-top: 1em !important;
	background-color: #6DCBD3;
	padding-top: 1em;
}

button{
	border-radius:2px;
	box-shadow: 0.5em 0.5em 0em #424242;
	padding:2em;
	border:0.5em solid #000;
}


/*Id's*/

#imagecandidates{
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

#imagecandidates a{
	width: 33%;
	display: flex;
	justify-content: center;
	padding: 1em 0;
}

#imagecandidates a img:hover{
	animation-name: movimiento;
    animation-duration: 1s;
    /*transform: rotate(30deg);*/
}

/* The animation code */
@keyframes movimiento {
	0%   {transform: rotate(0deg);}
    25%  {transform: rotate(30deg);}
    /*50%  {transform: rotate(0deg);}*/
    75%  {transform: rotate(-30deg);}
    100% {transform: rotate(0deg);}
}

#imagecandidates a img{

}


#icono{
	width: 50%;
}

#icono img{
	width: 100%;
}

#formLogin{
	width: 50%;
	text-align: center;
	background-color: #6DCBD3;
	/*font-family: ""*/
}

#formLogin h2{
	font-family: "Fjalla One";
	color: #2c3e50;
	margin-bottom: 2em;
}

#formLogin label{
	font-family: "Fjalla One";
	color: #2c3e50;
	font-size: 1.5em;
}

#formLogin input{
	border: 2px solid #2980b9;
	font-family: "Open Sans";
	font-size: 1.2em;
	padding: .8em;
	margin-bottom: 1em;
	color: #2980b9;
	text-align: center;
}

#formLogin input[type=submit]{
	width: 60%;
	background-color: rgba(39, 174, 96,1.0);
	color: white;
	border: 2px solid white;
}

#formLogin input[type=reset]{
	width: 60%;
	background-color: rgba(192, 57, 43,1.0);
	color: white;
	border: 2px solid white;
}

#formLogin input[type=reset]:hover{
	cursor: pointer;
}


::-webkit-input-placeholder{
	color: rgba(41, 128, 185,0.5);
}


/*Clases*/

.centrarCaja{
	margin: 0 auto;
}

.mensaje{
	padding: 1em 0;
	text-align: center;
	font-family: "Fjalla One";
	color: white;
	margin: 0 auto;
	background-color: rgba(231, 76, 60,1.0);
	width: 80%;
}